/* Navbar */

/*Intenté hacer el margin con bootstrap, pero no me funciono de esta manera (mr-2), entonces por eso lo hice por css*/
#ISesion {
    margin-right: 10px;
}

#dawn {
    padding: 0px;
    border: none;
}



/* Headhings*/

#headings {
    padding-left: 35px;
    padding-right: 35px;
}

.col-lg-4 {
    text-align: center;
    padding: 10px;
}