/* Navbar */
#ISesion {
    padding: 5px;
    margin-right: 10px;
}

#dawn {
    padding: 0px;
    border: none;
}



/* Headhings*/

#headings {
    padding-left: 35px;
    padding-right: 35px;
}

.col-lg-4 {
    text-align: center;
    padding: 10px;
}